
/*Some universal stuff***********************/* {
  box-sizing: border-box;
  font-family: 'Saira Semi Condensed', sans-serif;
}
main{
  background-color: #FDFFFC;
}
body{
  display:flex;
  flex-direction: column;
  padding:15px;
  background-color: #034f84;
  line-height: 1.5;
}
footer{
  background-color:#f7786b;
  text-align: center;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  margin-top:0px;
}

a:hover {
  cursor: pointer;
}

h2{
  margin-top:0px;
  padding-top:22.410px;
}

/*Some universal stuff***********************/


/*Some useful classes***********************/
.color0{
  background-color:white;
}
.color1{
  background-color: #92a8d1;
}

.color2{
  background-color:#034f84;
}

.color3{
  background-color:#f7cac9;
}

.color4{
  background-color:#f7786b;
}
.color5{
  background-color:#39015a;
  color:#f7cac9;
}
.color6{
  background-color:#AF7CAE;
}

.color7{
  background-color:#C3CFE5;
}

.color8{
  background-color: #DBF5C7;
}

.color9{
  background-color:#F4E8F2;
}


.flex-home{
  display:flex;
  flex-direction:column;
}

.flex-col{
  display:flex;
  flex-direction:column;
}

.flex-row{
  display:flex;
  flex-direction:row;
}

.center{
  justify-content:center;
}

.aligncenter{
  align-items:center;
}

.position-relative{
  position:relative;
}

.text-center{
  text-align:center;
}

.wrapper{
  padding: 0 5%;
}
.wrapper2{
  padding: 0 10%;
}

.grid{
  display:flex;
  flex-wrap: wrap;
}

.hidden{
  display:none;
}

.no-text-dec{
  text-decoration: none;
}

.a-title{
  color:black;
  text-decoration:underline;
}
.a-title:hover{
  color:rgb(0,0,0,0.5);
}

.inline-block{
  display:inline-block;
}

/* More text related classes */

.bold{
  font-weight:600;
}

.italic{
  font-style:italic;
}

.underline{
  text-decoration:underline;
}


/*Some useful classes***********************/
