/*BOXES***************************/
.box{
  height:266.66666px;
  width:100%;
}

.b2,.b5,.b12{
  cursor:pointer;
}

.b1,.b4,.b6,.b7,.b8,.b9,.b10,.b11{
  display:none;
}

/*BOXES***************************/

#home-page{
  font-size: 28px;
  height:100%;
}

.uke-pic{
  background-image: url('../img/cleanupright.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;/* 
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; */
  background-size: contain;
}

.uke-pic:hover{
  background-image: url('../img/pixelArt2LoopSquare.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;/* 
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; */
  background-size: contain;

}




img.profile-picture{
  border-radius: 50%;
}

img.home-picture{
  width:150px;
}

/******* Change image ***/


html, body {
  height:100%;
}
main{
  width:100%;
  height:calc(100% - 60px);
}









