/*BOXES***************************/
.box{
  height:266.66666px;
  width:100%;
  display:flex;
}

.b2,.b4, .b6, .b9{
  cursor:pointer;
}
.b3{
  padding:5px;
  text-align:center;
}
.b2:hover,.b4:hover, .b6:hover, .b9:hover{
  opacity:0.8;
}

.b1,.b4,.b6,/*.b7, */.b8,.b9,/* .b10, */.b11{
  display:none;
}

/*BOXES***************************/

#home-page{
  font-size: 28px;/* 
  height:100%; */
}

.uke-pic{
  background-image: url('../img/cleanupright.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;/* 
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; */
  background-size: contain;
}

.uke-pic:hover,.uke-pic:focus{
  background-image: url('../img/PixelArt2LoopSquare.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;/* 
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; */
  background-size: contain;

}

.resume-bear{
}

.bear-gif{
  background-image: url('../img/chaneweebearlite.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;/* 
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; */
  background-size: contain;
}

.bear-gif:hover,.bear-gif:focus{
  background-image: url('../img/chaneweebearlite4.gif');
}




img.profile-picture{
  border-radius: 50%;
}

img.home-picture{
  width:150px;
}

/******* Change image ***/


html, body {
  height:100%;
}
main,#home-page{
  width:100%;
  height:calc(100% - 60px);
  min-height:calc(100vh - 60px) !important;
}









