/* NAV *********************/
.fixed-nav-links, li{
  margin:0;
  padding:0;
} 

nav {
  position:sticky;
  top:0px;
  padding:0px;
  height:30px;
  display:flex;
  flex-direction:row-reverse;
  background-color:#f7786b;
  z-index:10;
}

/* NAV *********************/

/* buttons ************/
.dropdown-wrapper{
  width:30px;
  height:30px;
  position:relative;
}
.nav-button{
  background-color:#f7786b;
  width:30px;
  height:30px;
  padding-top:3px;
  z-index:20;
}
.nav-button:hover{
  background-color: rgb(250,188,179) ;
}

.bar-for-nav-button{
  margin-left:2px;
  margin-right:2px;
  width:26px;
  height:5px;
  background-color: #FDFFFC;
  margin-bottom:3px;
}
/*buttons********************/

/**NAV-links*****************/
.fixed-nav-links{
  list-style-type:none;
  transition:max-height 1.5s ease-out;
  position:absolute;
  top:30px;
  right:0px;
  width:120px;
  display:flex;
  flex-direction:column;
  list-style-type:none;
  justify-content: space-around;
  text-align:center;
  /* border:1px solid gray; */
  border-left:1px solid gray;
  border-bottom:1px solid gray;
}

.fixed-nav-links li{
  background-color:#c3f698;
  z-index:10;
  font-size:22px;
}

.fixed-nav-links li a{
  text-decoration: none;
}

.fixed-nav-links li:hover{
  opacity: .8;
}

.fixed-nav-links li a:hover{
}
/**NAV-links*****************/
