.tech-icon{
  width:15px;
  height:15px;
}
#projects-page h2{
  text-align:center;
}

.project-card>div{
  margin-top:5px;
  margin-bottom:5px;
}

.project-desc{
  text-align:center;
}
.project-link{
  text-align:center;
}

.medium{
  font-weight:600;
}

h4{
  margin-top:0px;
  font-size:125%;
}
/* 
#projects-page img.project-pic{
  flex-basis:50%;
} */

.project-div{
  padding:30px 15px;
  width:100%;
}
.project-div:nth-child(even){
  background-color:whitesmoke;
}
.project-div:nth-child(odd){
  background-color:#9ABAD6;
  background-color:#C8E2E0;
}
.photo-carousel{
  position:relative;
  width:100%;
}
.project-photo{
  width:calc(100vw - 80px);
  height:calc( 3/4 * calc(100vw - 80px));
  margin-bottom:25px;
}

.project1-photo{
  background-image: url('../img/tftBuilds43.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.project2-photo{
  background-image: url('../img/symptomTracker43.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.project3-photo{
  background-image: url('../img/spacedRep43.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.center-left{
  position:absolute;
  left:5px;
  top:calc(50% - 90px);
}
.center-right{
  position:absolute;
  right:5px;
  top:calc(50% - 90px);
}


.big-arrow{
  font-size:125px;
  display:none;
  z-index:10;
  cursor:pointer;
}
.big-arrow:hover{
  color:rgb(0,0,0,0.5)
}

html,body{
  height:auto;
  min-height:100vh !important;
}

.outside-header{
  display:none;
  color:white;
}
.inside-header{
  color:white;
}

.container{
  height:auto;
  min-height:calc(100vh - 60px) !important;
}

main,#projects-page{
  position:relative;
  height:auto;
  min-height:calc(100vh - 60px) !important;
}
