.tech-icon{
  width:15px;
  height:15px;
}
#projects-page h2{
  text-align:center;
}
/* 
#projects-page img.project-pic{
  flex-basis:50%;
} */

.container1{
  flex-grow:2;
  padding: 5% 5%;
}
.container2{
  flex-grow:1;
}

.photo-carousel{
  position:relative;
  width:100%;
  padding-bottom:112.5%;
}
.chosen-photo{
  position:absolute;
  width:100%;
  height:66.66%;
  background-image: url('../img/QuizApp.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.smaller-photos{
  position:absolute;
  top:66%;
  left:0;
  width:100%;
  height:33.33%;
}
.small-a{
  border:1px solid black;
  flex: 1 0 0;
  background-image: url('../img/sample.jpg');
  background-size: 100% 100%;;
  background-repeat: no-repeat;
  background-position: center;
}

.small-b{
  border:1px solid black;
  flex: 1 0 0;
  background-image: url('../img/sample2.jpg');
  background-size: 100% 100%;;
  background-repeat: no-repeat;
  background-position: center;
}

html,body{
  height:auto;
  min-height:100vh !important;
}

main,#projects-page{
  height:auto;
  min-height:calc(100vh - 90px) !important;
}
