body{
  display:flex;
  flex-direction: column;
  padding:0px;
  background-color: white;
  line-height: 1.5;
}
main{
  background-color: #FDFFFC;
  padding-top:10px;
}
header{
  background-color:#141912;
  background-color:#242424;
  color:#1fcccf;
  color:white;
  padding:30px 0px;
  text-align:center;
}
h1{
  margin:0;
  font-size:300%;
}

.contact-box{
  border:1px white solid;
  border-radius:10px;
  display:inline-flex;
  align-items:center;
  margin:auto;
  padding:5px 15px;
}

.contact-icon-a{
  display:inline-flex;
  align-items:center;
  margin:0 5px;
}

.contact-icon-img{
  height:40px;
}

footer{
  background-color:#f7786b;
  text-align: center;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-wrapper{
  padding: 1px 5%;
}
.ul-title {
  width: 70%;
  text-align: left;
  display: inline-block;
  margin-top:0px;
  margin-bottom:0px;
}
ul{
  margin-bottom:10px;
}
.a-title{
  color:black;
  text-decoration:underline;
}
.a-title:hover{
  color:rgb(0,0,0,0.5);
}



.edu-subdetail{
  font-weight:500;
  display: inline-block;
}

.github-link{
  font-style:italic;
  text-decoration:underline;
  color:black;
}

.github-link:hover{
  color:rgb(0,0,0,0.5);
}

.dates{
  width: 30%;
  text-align: right;
  display: inline-block;
  margin-top:0px;
  margin-bottom:2px;
  vertical-align:top;
  font-weight:500;
}


hr{
  margin:0;
  background-color:black;
}
h3{
  margin:0;
  color:#219091;
  font-size:140%;
}