.b1,.b4,.b6,/* .b7, */.b8,.b9,/* .b10, */.b11{
  display:none;
}

body{
  background-color:#242424;
}
@media screen and (max-width: 640px){
  html,body{
    height:auto;
    min-height:100vh !important;
  }
  
  main,#home-page{
    height:auto;
  }
  .b2,.b3,.b5, .b7, .b10,.b12{
    flex-grow:1;
  }
}
@media screen and (max-width: 800px){
}

@media screen and (min-width: 640px){
  html,body{
    height:auto;
    min-height:100vh !important;
  }
  .flex-home{
    flex-direction:row;
  }
  .b5{
    background-color:#f7cac9;
  }
  .b7{
    background-color:#f7786b;
  }
  .box{
    width:50%;
    height:calc( calc(100vh - 60px ) / 3);
    min-height:280px;
  }/* 
  .contactL{
    width:50%;
  }
  .contactR{
    width:50%;
  } */

}

@media screen and (max-height: 650px){
  body,html,main,#home-page{
    height:auto;
  }
}

@media screen and (min-width: 800px){
 /*  #contact-me-page{
    flex-direction:row;
  }
  #about-me-page{
    flex-direction:row;
  } */
  html,body{
    height:100%;
  }
  .flex-home{
    flex-direction:row;
  }
  .b1,.b4,.b6,.b7,.b8,.b9,.b10,.b11{
    display:flex;
  }

  .b2{
    background-color:#f7cac9;
  }

  .b3{
    background-color:#92a8d1;
    color:black;
  }
  .b4{
    background-color:#39015a;
    background-color:#AF7CAE;
    color:#f7cac9;
    /* background-image: url('../../img/wedding.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover; */
  }

  .b5{
    background-color:#f7786b;
  }

  .b8{
    background-image: url('../../img/polaroidsquare.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: contain;
    -o-background-size:contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }

  .b7{
    background-color:#f7786b
  }

  .b10{
    background-color:#39015a;
    background-color:#AF7CAE;
  }
   .b12{
     background-color:#f7cac9;
   }

  .box{
    width:25%;
    height:calc(100% / 3);
    min-height:240px;
  }
   .b1, .b3, .b6, .b8, .b9, .b11{
    background-color:#294f7a;
    background-color:#17416f;
    background-color:#37538a;
    background-color:#23446a;
    background-color:#0e3663;
    background-color:#e6e1c5;
    background-color:#ede9da;
    background-color:#f9f3de;
    background-color:#fdf0d3;
    background-color: #ffffed;
    background-color: #fff8f2;
    background-color: #3C555D;
    background-color: #94accd;
    color:#092749;
  }
  .b2,.b4,.b5,.b7,.b10,.b12{
    
    background-color:#0e3663;
    background-color:#092749;
    background-color:#466d58;
    background-color:#ACEBD2;
    background-color:#219091;
    color:whitesmoke;

  } 
  

}

@media screen and (max-height: 810px) and (min-width: 800px){
  body,html,main,#home-page{
    height:auto;
  }
}