#about-me-page{
  overflow-y:auto;
}
@media screen and (min-width: 600px){
  #about-me-page{
    font-size:110%;
  }
}

@media screen and (min-width: 800px){
  #about-me-page{
    font-weight:500;
  }
  .profile-picture{
    height:420px;
    width:auto;
    /* width:40%;
    padding:16.4%; */
    background-size:contain;
    flex-grow:0;
    display:none;
  }
  .row-profile-wrapper{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items:center;
  }
  .bear-and-bullets{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
  }
  .row-profile-picture{
    height:380px;
    width:auto;
    /* width:40%;
    padding:16.4%; */
    background-size:contain;
    flex-grow:0;
    display:block;
  }
  .row-profile-desc{
    margin-right:20px;
  }
  .bear-pic{
    margin:0;
    margin-right:20px;
  }
}

@media screen and (min-width: 1000px){
  .about-wrapper{
    padding: 0px 10%;
  }
}


@media screen and (min-width: 1070px){
  .about-wrapper{
    margin:auto;
    width:800px;
    padding:0;
  }
}



